* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* general */

  /* variable */
  :root{
    --primary:#be2529;
    --dark:#333
    --secondary:#0d0d0d ;
    --gray:#ddd;
    --gray-light:#eee;
    --gray-hint:#555;

  }
  :root {
    font-size: 62.5%;

  }

  body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

  }
  h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Staatliches', cursive;
  }

  a{
    font-size: 1.6 rem;
    color: var(--dark);
    text-decoration:  none;
  }
  ul{
    list-style: none;
  }

  /* utility */
  .container{
    display: block;
    margin: auto;
    max-width: 1100px;
    height: 1500px;

  }
  .text-primary {
    color: var(--primary);

  }
  .text-primary :hover{
    opacity: 0.8;
    
  }
  .btn{
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0px;
    font-size: 1.6rem;
    transition: all 0.2s;
 
}
.btn-light{
    background: white;
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn-light:hover{
    background: var(--primary);
 
    color:white;
}
  /* header */
  header{
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center start ;
    line-height: 3.5rem;
    margin: 0.5rem auto;
  }
  header ul{
    display: flex;
    align-items: center;

  }
  header ul li {
    padding: 1rem 1.5rem;

      }
  header .logo{
    font-size: 3rem;
    font-family:'Staatliches', cursive;

  }
  header a {
    display: block;
    padding: 1rem;
  }
  /* nav */
  nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
  }

  article{
    display: grid;
    align-items: center;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
  }
  article img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
  }
  article h3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  article .article-content {
    grid-area: 2 / 1 / 3 / 3;
  }
  article .article-author {
    grid-area: 3 / 1 / 4 / 3;
    font-weight: bold;
  }
  article .text-hint {
    grid-area: 4 / 1 / 5 / 3;
  }
  
  
